<div class="text">
  <h1 class="titreListeBiens">Liste des biens</h1>

  <ol>
    <li *ngFor="let bien of biens">
      <div class="row">
        <div class="col-6 align-self-center">
          <p class="titreLivre">
            {{ bien["idBien"] }}--({{ bien["nom"] }})--({{
              bien["descriptif"]
            }}) prix:{{ bien["prixNeuf"] }}
            Euros
          </p>
        </div>

        <div class="col-6 justify-content-center">
          <img [src]="bien.image" height="100" width="100" background />
        </div>
      </div>
      <!--<p>{{ bien["_id"] }}</p>-->

      <div class="row justify-content-center margin-buffer">
        <button
          *ngIf="user | async"
          class="btn btn-dark"
          (click)="ajouterEmprunt(bien)"
        >
          Emprunter
        </button>
      </div>
    </li>
  </ol>
</div>
