<h1 class="titreListeBiens">Liste des biens</h1>

<div class="card-deck mb-3 text-center">
  <div *ngFor="let bien of biens" class="card mb-4 shadow-sm">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">
        {{ bien["idBien"] }} / ({{ bien["nom"] }}) / ({{ bien["descriptif"] }})
      </h4>
    </div>
    <div class="card-body">
      <h1 class="card-title pricing-card-title">
        {{ bien["prixNeuf"] }} <small class="text-muted">€</small>
      </h1>
      <div class="list-unstyled mt-3 mb-4">
        <img [src]="bien.image" height="150" width="150" background />
      </div>

      <div class="row justify-content-center margin-buffer">
        <button
          *ngIf="user | async"
          class="btn btn-dark"
          (click)="ajouterEmprunt(bien)"
        >
          Emprunter
        </button>
      </div>
    </div>
  </div>
</div>
